<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cs.admin.system.manager.mapper.SysAdminDeptMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cs.admin.system.manager.domain.entity.SysAdminDept">
        <id column="user_id" property="userId"/>
        <result column="dept_id" property="deptId"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        user_id, dept_id
    </sql>

    <select id="countByDeptId" resultType="java.lang.Integer">
        select count(1)
        from sys_admin_dept
        where dept_id = #{deptId}
    </select>

    <select id="selectByUserId" resultMap="BaseResultMap">
        select <include refid="Base_Column_List" />
        from sys_admin_dept
        where user_id = #{userId}
    </select>

    <delete id="deleteByUserId">
        delete
        from sys_admin_dept
        where user_id = #{userId}
    </delete>

</mapper>
