<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cs.admin.system.dict.mapper.SysDictTypeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cs.admin.system.dict.domain.entity.SysDictType">
        <id column="dict_id" property="dictId" />
        <result column="dict_name" property="dictName" />
        <result column="dict_type" property="dictCode" />
        <result column="status" property="status" />
        <result column="create_time" property="createTime" />
        <result column="create_by" property="createBy" />
        <result column="update_time" property="updateTime" />
        <result column="update_by" property="updateBy" />
        <result column="remark" property="remark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        dict_id, dict_name, dict_code, status, create_time, create_by, update_time, update_by, remark
    </sql>

    <select id="selectByDictName" resultMap="BaseResultMap">
        select <include refid="Base_Column_List" />
        from sys_dict_type
        where dict_name = #{dictName}
    </select>

    <select id="selectByDictCode" resultMap="BaseResultMap">
        select <include refid="Base_Column_List" />
        from sys_dict_type
        where dict_code = #{dictCode}
    </select>

</mapper>
