<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cs.admin.system.manager.mapper.SysPermissionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cs.admin.system.manager.domain.entity.SysPermission">
        <id column="permission_id" property="permissionId"/>
        <result column="name" property="name"/>
        <result column="code" property="code"/>
        <result column="url" property="url"/>
        <result column="description" property="description"/>
        <result column="status" property="status"/>
        <result column="create_by" property="createBy"/>
        <result column="create_time" property="createTime"/>
        <result column="update_by" property="updateBy"/>
        <result column="update_time" property="updateTime"/>
        <result column="remark" property="remark"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        permission_id, name, code, url, description, status, create_by, create_time, update_by, update_time, remark
    </sql>

    <select id="selectByCode" resultMap="BaseResultMap">
        select <include refid="Base_Column_List" />
        from sys_permission
        where code = #{code}
    </select>

    <select id="selectByName" resultMap="BaseResultMap">
        select <include refid="Base_Column_List" />
        from sys_permission
        where name = #{name}
    </select>

</mapper>
