<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cs.admin.system.manager.mapper.SysRoleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cs.admin.system.manager.domain.entity.SysRole">
        <id column="role_id" property="roleId"/>
        <result column="role_code" property="roleCode"/>
        <result column="role_name" property="roleName"/>
        <result column="description" property="description"/>
        <result column="data_scope" property="dataScope"/>
        <result column="order_num" property="orderNum"/>
        <result column="status" property="status"/>
        <result column="create_by" property="createBy"/>
        <result column="create_time" property="createTime"/>
        <result column="update_by" property="updateBy"/>
        <result column="update_time" property="updateTime"/>
        <result column="remark" property="remark"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        role_id, role_code, role_name, description, data_scope, order_num, status, create_by, create_time, update_by, update_time, remark
    </sql>


    <select id="selectRolesByUserId" resultMap="BaseResultMap">
        select R.*
        from sys_admin_role AR
        inner join sys_role R
        on AR.role_id = R.role_id
        and AR.user_id = #{userId}

    </select>

</mapper>
